<mat-card [ngStyle.gt-xs]="{'max-width.px': 200}">
  <div *ngIf="link; then linkBlock else noLinkBlock"></div>
  <ng-template #linkBlock>
    <a [href]="link" class="projectLink">
      <mat-card-header matRipple>
        <img mat-card-avatar *ngIf="avatarSrc" [src]="avatarSrc">
        <mat-card-title>
          {{cardTitle}}
        </mat-card-title>
      </mat-card-header>
      <img *ngIf="imageSrc"
           mat-card-image
           [src]="imageSrc"
           [alt]="imageAlt"
           [ngStyle.xs]="{'display': 'block', 'margin-left': 'auto', 'margin-right': 'auto'}">
    </a>
  </ng-template>
  <ng-template #noLinkBlock>
    <div class="projectLink">
      <mat-card-header>
        <img mat-card-avatar *ngIf="avatarSrc" [src]="avatarSrc">
        <mat-card-title>
          {{cardTitle}}
        </mat-card-title>
      </mat-card-header>
      <img mat-card-image
           *ngIf="imageLocation"
           [src]="imageLocation"
           [alt]="imageAlt"
           [ngStyle.xs]="{'display': 'block', 'margin-left': 'auto', 'margin-right': 'auto'}">
    </div>
  </ng-template>
  <mat-card-content>
    <ng-content></ng-content>
  </mat-card-content>
</mat-card>