@import '~@angular/material/theming';

// mixin name will be used in main style.scss
@mixin project-card-theme($theme) {
  $primary: map-get($theme, primary);

  mat-card {
    // max-width: 200px;
    margin: 10px;
  }

  img {
    max-width: 200px;
    max-height: 200px;
  }

  // .img-xs {
  //   display: block;
  //   margin-left: auto;
  //   margin-right: auto
  // }

  .projectLink {
    color: mat-color($primary);
  }

  a.projectLink:hover,
  a.projectLink:active,
  a.projectLink:focus {
    color: mat-color($primary, darker);
    text-decoration: underline;
  }
}