@import '~@angular/material/theming';

// mixin name will be used in main style.scss
@mixin app-theme($theme) {
  
  // retrieve variables from theme 
  // (all possible variables, use only what you really need)
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);

  h1 {
    text-align: center;
    font-size: 64px;
    margin: 0px;
  }

  #subtitle {
    text-align: center;
    font-size: 32px;
  }

  #social {
    text-align: center;
    margin: 10px;

    i {
      font-size: 32px; 
    }
  }

  a {
    color: mat-color($accent);
    text-decoration: none;
  }

  .mat-icon-button.mat-accent:hover,
  .mat-icon-button.mat-accent:active,
  .mat-icon-button.mat-accent:focus {
    color: mat-color($accent, darker);
  }

  a:hover,
  a:active,
  a:focus {
    color: mat-color($accent, darker);
    text-decoration: underline;
  }

  code {
    color: mat-color($primary, lighter);
  }
}