<header>
  <h1>
    Josh Nygaard
  </h1>
  <div id="subtitle">
    Software Developer
  </div>
  <div id="social">
    <a mat-icon-button color="accent" href="https://twitter.com/J_Nygaard" aria-label="My Twitter Profile">
      <i class="fab fa-twitter"></i>
    </a>
    <a mat-icon-button color="accent" href="https://github.com/joshnygaard" aria-label="My Github Profile">
      <i class="fab fa-github"></i>
    </a>
    <a mat-icon-button color="accent" href="https://bitbucket.org/joshnygaard/" aria-label="My Bitbucket Profile">
      <i class="fab fa-bitbucket"></i>
    </a>
    <a mat-icon-button color="accent" href="https://www.linkedin.com/in/JoshNygaard/" aria-label="My LinkedIn Profile">
      <i class="fab fa-linkedin"></i>
    </a>
  </div>
</header>
<mat-divider></mat-divider>
<main fxLayout="row wrap">
  <project-card fxFlex="nogrow" fxFlex.xs="grow"
                cardTitle="Congressional Apportionment App"
                avatarSrc="./../assets/wikipedia_ca.png"
                link="https://apportionment.app">
    <p>
      An <a href="https://angular.io">Angular</a> web app that shows how changing the makeup of the U.S. House of Representatives effects the number of seats each state receives.
    </p>
  </project-card>
  <project-card fxFlex="nogrow" fxFlex.xs="grow"
                cardTitle="Paradox Reader"
                link="https://github.com/joshnygaard/paradox-reader"
                avatarSrc="./../assets/Paradox_Interactive_logo.png">
    <p>
      A <a href="https://www.python.org/">Python</a> command line application for converting <code>.txt</code> files used in <a href="https://www.paradoxplaza.com/">Paradox</a> grand strategy games (specifically <a href="https://www.paradoxplaza.com/stellaris/STST01G-MASTER.html">Stellaris</a>) into a JSON format. 
    </p>
  </project-card>
  <project-card fxFlex="nogrow" fxFlex.xs="grow"
                cardTitle="Is It Time For a Gin & Tonic?"
                avatarSrc="./../assets/gt.jpg">
    <p>
      A silly website built with <a href="https://angular.io">Angular</a>. Still in development.
    </p>
  </project-card>
  <project-card fxFlex="nogrow" fxFlex.xs="grow"
                cardTitle="Sol Forever"
                avatarSrc="./../assets/sol_forever.png"
                link="https://steamcommunity.com/sharedfiles/filedetails/?id=1408095783">
    <p>
      A small <a href="https://www.paradoxplaza.com/stellaris/STST01G-MASTER.html">Stellaris</a> mod. In vanilla Stellaris if the Sol system has not been created for a player or computer empire there is a 50% chance that it does not appear. This mod guarantees the Sol system spawns. 
    </p>
  </project-card>
</main>
<mat-divider></mat-divider>
<footer>
  Created by <a href="https://jnygaard.dev">Josh Nygaard</a> © 2019
  <mat-slide-toggle (change)="toggleChange($event)" checked="true" aria-label="Theme Toggle">
    <i [class]="themeIcon"></i>
  </mat-slide-toggle>
</footer>