@import '~@angular/material/theming';

// always include only once per project
@include mat-core();

// import our custom themes
@import 'themes.scss';

// import custom component themes
@import './app/app.component.scss';
@import './app/project-card/project-card.component.scss';

@mixin custom-components-theme($theme) {
  @include app-theme($theme);
  @include project-card-theme($theme);
}

.light-theme {
  @include angular-material-theme($my-light-theme);
  @include custom-components-theme($my-light-theme);
}

.dark-theme {
  @include angular-material-theme($my-dark-theme);
  @include custom-components-theme($my-dark-theme);
}

body {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  padding-bottom: 16px;
}
